In [20]:
import json

import math
import pandas as pd 
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error, mean_absolute_error
from tqdm.notebook import trange

In [21]:
ori_df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')

In [22]:
df = ori_df[['location','total_cases','date']].copy()

In [23]:
df["total_cases"] = df["total_cases"].fillna(0)
df.head

<bound method NDFrame.head of            location  total_cases        date
0       Afghanistan          0.0  2020-01-05
1       Afghanistan          0.0  2020-01-06
2       Afghanistan          0.0  2020-01-07
3       Afghanistan          0.0  2020-01-08
4       Afghanistan          0.0  2020-01-09
...             ...          ...         ...
402698     Zimbabwe     266362.0  2024-05-15
402699     Zimbabwe     266362.0  2024-05-16
402700     Zimbabwe     266362.0  2024-05-17
402701     Zimbabwe     266362.0  2024-05-18
402702     Zimbabwe     266362.0  2024-05-19

[402703 rows x 3 columns]>

In [24]:
asia=df.loc[df['location'] == 'Asia']
africa=df.loc[df['location'] == 'Africa'].reset_index()
europe=df.loc[df['location'] == 'Europe']
north_america=df.loc[df['location'] == 'North America']
Oceania=df.loc[df['location'] == 'Oceania']
south_America=df.loc[df['location'] == 'South America']

In [25]:
new_df=pd.concat([asia,africa,europe,north_america,Oceania,south_America]).reset_index().drop(columns='index')

In [26]:
new_df.head()

   level_0 location  total_cases        date
0    19168     Asia          1.0  2020-01-05
1    19169     Asia          1.0  2020-01-06
2    19170     Asia          1.0  2020-01-07
3    19171     Asia          1.0  2020-01-08
4    19172     Asia          1.0  2020-01-09

In [27]:
new_df['date']

0       2020-01-05
1       2020-01-06
2       2020-01-07
3       2020-01-08
4       2020-01-09
           ...
9612    2024-05-15
9613    2024-05-16
9614    2024-05-17
9615    2024-05-18
9616    2024-05-19
Name: date, Length: 9617, dtype: object

In [28]:
new_df['year']=pd.to_datetime(new_df['date']).dt.year
new_df['month']=pd.to_datetime(new_df['date']).dt.month
new_df['day']=pd.to_datetime(new_df['date']).dt.day

In [29]:
asia['date'] = pd.to_datetime(new_df['date'])
dt_start = pd.to_datetime('2020-01-05')
dt_end = pd.to_datetime('2024-04-28')

asia=asia[asia['date'].between(dt_start, dt_end)]

C:\Users\DELL\AppData\Local\Temp\ipykernel_19200\279288980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asia['date'] = pd.to_datetime(df['date'])

In [30]:
asia

      location  total_cases       date
19168     Asia          1.0 2020-01-05
19169     Asia          1.0 2020-01-06
19170     Asia          1.0 2020-01-07
19171     Asia          1.0 2020-01-08
19172     Asia          1.0 2020-01-09
...        ...          ...        ...
20739     Asia  301406232.0 2024-04-24
20740     Asia  301406232.0 2024-04-25
20741     Asia  301406232.0 2024-04-26
20742     Asia  301406232.0 2024-04-27
20743     Asia  301411487.0 2024-04-28

[1576 rows x 3 columns]

## Start predicting next 5 days

In [31]:
# df_test = pd.DataFrame()
# df_test['ds'] = asia['date']
# df_test['y'] = asia['total_cases'].astype(int)
# # df_test.set_index('ds', inplace=True)
# df_test.info()

In [32]:
# from prophet import Prophet
# m = Prophet()
# m.fit(df_test)
# future = m.make_future_dataframe(periods=365)
# future.tail()
# forecast = m.predict(future)

# forecast[['date', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [33]:
# forecast['yhat']=forecast['yhat'].astype('int') 
# forecast.tail()

In [34]:
# forecast.head()

In [35]:
# asia_new = pd.DataFrame()

In [36]:
# asia_new['date']=forecast['ds']
# asia_new['total_case']=forecast['yhat'].astype(int)
# asia_new

In [37]:
# asia_new.insert(0, 'location', 'asia')
# asia_new

In [38]:
asia.to_csv('asia_ph.csv')