In [1]:
import json

import math
import pandas as pd 
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error, mean_absolute_error
from tqdm.notebook import trange

In [2]:
ori_df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')

In [3]:
df = ori_df[['location','total_cases','date']].copy()

In [4]:
df["total_cases"] = df["total_cases"].fillna(0)
df.head

<bound method NDFrame.head of            location  total_cases        date
0       Afghanistan          0.0  2020-01-05
1       Afghanistan          0.0  2020-01-06
2       Afghanistan          0.0  2020-01-07
3       Afghanistan          0.0  2020-01-08
4       Afghanistan          0.0  2020-01-09
...             ...          ...         ...
402698     Zimbabwe     266362.0  2024-05-15
402699     Zimbabwe     266362.0  2024-05-16
402700     Zimbabwe     266362.0  2024-05-17
402701     Zimbabwe     266362.0  2024-05-18
402702     Zimbabwe     266362.0  2024-05-19

[402703 rows x 3 columns]>

In [5]:
asia=df.loc[df['location'] == 'Asia']
africa=df.loc[df['location'] == 'Africa']
europe=df.loc[df['location'] == 'Europe']
north_america=df.loc[df['location'] == 'North America'].reset_index()
Oceania=df.loc[df['location'] == 'Oceania']
south_America=df.loc[df['location'] == 'South America']

In [6]:
new_df=pd.concat([asia,africa,europe,north_america,Oceania,south_America]).reset_index().drop(columns='index')

In [7]:
new_df.head()

   level_0 location  total_cases        date
0    19168     Asia          1.0  2020-01-05
1    19169     Asia          1.0  2020-01-06
2    19170     Asia          1.0  2020-01-07
3    19171     Asia          1.0  2020-01-08
4    19172     Asia          1.0  2020-01-09

In [8]:
new_df['date']

0       2020-01-05
1       2020-01-06
2       2020-01-07
3       2020-01-08
4       2020-01-09
           ...
9612    2024-05-15
9613    2024-05-16
9614    2024-05-17
9615    2024-05-18
9616    2024-05-19
Name: date, Length: 9617, dtype: object

In [9]:
new_df['year']=pd.to_datetime(new_df['date']).dt.year
new_df['month']=pd.to_datetime(new_df['date']).dt.month
new_df['day']=pd.to_datetime(new_df['date']).dt.day

In [10]:
north_america['date'] = pd.to_datetime(new_df['date'])
dt_start = pd.to_datetime('2020-01-05')
dt_end = pd.to_datetime('2024-04-28')

north_america=north_america[north_america['date'].between(dt_start, dt_end)]

In [11]:
north_america=north_america.drop(['index'], axis=1)

In [12]:
north_america

           location  total_cases       date
0     North America          0.0 2020-01-05
1     North America          0.0 2020-01-06
2     North America          0.0 2020-01-07
3     North America          0.0 2020-01-08
4     North America          0.0 2020-01-09
...             ...          ...        ...
1571  North America  124559613.0 2024-04-24
1572  North America  124559613.0 2024-04-25
1573  North America  124559613.0 2024-04-26
1574  North America  124559613.0 2024-04-27
1575  North America  124560771.0 2024-04-28

[1576 rows x 3 columns]

## Start predicting next 5 days

In [13]:
# df_test = pd.DataFrame()
# df_test['ds'] = north_america['date']
# df_test['y'] = north_america['total_cases'].astype(int)
# # df_test.set_index('ds', inplace=True)
# df_test.info()

In [14]:
# from prophet import Prophet
# m = Prophet()
# m.fit(df_test)
# future = m.make_future_dataframe(periods=365)
# future.tail()
# forecast = m.predict(future)

# forecast[['date', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [15]:
# forecast['yhat']=forecast['yhat'].astype('int') 
# forecast.tail()

In [16]:
# forecast.head()

In [17]:
# north_america_new = pd.DataFrame()

In [18]:
# north_america_new['date']=forecast['ds']
# north_america_new['total_case']=forecast['yhat'].astype(int)
# north_america_new

In [19]:
# north_america_new.insert(0, 'location', 'north_america')
# north_america_new

In [20]:
north_america.to_csv('north_america_ph.csv')